<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/stock" aria-current="page" href="#">Stock</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/property" aria-current="page" href="#">Property</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/project" aria-current="page" href="#">Property</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/sendMessage" aria-current="page" href="#">sendMessage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/receiveMessage" aria-current="page" href="#">receiveMessage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/paramDemo/:id" aria-current="page" href="#">paramDemo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/queryParams" aria-current="page" href="#">queryParams</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/parent" aria-current="page" href="#">parent</a>
              </li>
               <li class="nav-item">
                 <a class="nav-link active" routerLink="/navbar" aria-current="page" href="#">navbar</a>
               </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <router-outlet>
    </router-outlet>
  </div>
</div>
